*{
    margin: 0;
    padding: 0;
    /* outline: 1px dotted red;  */
}
.container{
    padding-top: 20px;
}

.row{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.form-group{
    max-width: 600px;
    justify-content: space-between;
}

label{
    font-weight: 500;
}

.form-control{
    border: 2px solid black;
}

p{
    font-weight: 700;
}